
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


/* first section text */

.about-logo >h2{
    font-size:158px;
    color:#1C1C1C;
    font-family: 'Poppins';
    font-weight:bold;
    letter-spacing: 4.75px;
  
}

.about-logo > p{
    font-size:44px;
    margin-top:-100px;
    color:#373737; 
    font-family:'Poppins';
    font-weight:bold;
    letter-spacing: 1.3px;
    
   
}

.roca-logo >h2{
    color:#1A1A1A;
    font-size:40px;
    font-family: 'Poppins';
}
span{
    color:#0081FF;
    font-size:33px;
  
}
    

.roca-logo > p{
    color:#8f8e8e;
    font-size:13px;
    font-family:'Montserrat';
    font-style: normal;
}

.introduction > h3{
    font-size:50px;
    font-weight:normal;  
    font-family:'Glacial Indifference';
    font-style:normal;  
    letter-spacing: 0.75px;
}
.introduction > h1{
    font-size:71px;
    font-family:'Glacial Indifference';
    font-weight:bold;
    letter-spacing: 1.06px;;
}
.introduction >p {
    font-size:24px;
    font-family:'Glacial Indifference';
    font-style:normal;
    font-weight:normal;
}
.percentage{
    font-size:24px;
    color:#E93656;
    padding-right:5px;
    font-family:'Montserrat';
    font-weight:bold;
    
   
}
.progress >p{
    font-size:24px;
    font-weight:bold;
    padding-bottom:15px;
 }
 .main-progress >p{
     font-family:'Montserrat';
     font-weight:bold;
     font-size:24px;
 }

 /* second section style*/

 .bio > h2{
    color:#222222;
    font-size:40px;
    font-weight:normal; 
    margin-right:70px;
    margin-bottom:6px; 
    font-family:'Glacial Indifference';
    font-weight:bold;
 }
 .web{
    color:#DAAE19;
    font-size:14px;
     margin-bottom:33px;
     margin-right:70px;
     font-family:'Muli';
 }
 .bio-text{  
    margin-right:70px;
    color:#555555;
    letter-spacing: 0.45px;
     margin-bottom:60px; 
    width:334px;
    font-family:'Muli';
    font-style:normal;
 }

 .priv-info>h3{
    color:#FFFFFF;
    font-size:25px;
    margin-bottom:15px;
    font-family:'Glacial Indifference';
    font-weight:bold;
    letter-spacing: 0.75px;
 }
 .priv-info>p,a{
    color:#DFDFDF;
    letter-spacing: 0.42px;
    font-size:14px;
    font-family: 'Muli';
    letter-spacing: 0.42px;
 }

 /* third section */

 .card >p{
    font-family:'Glacial Indifference';
    font-weight:bold;
    letter-spacing: 0.44px;
    font-size:22px;
    margin-top:15px;
    color:#222222;
 }

 .title{
    font-family:'Glacial Indifference';
    font-weight:bold;
    font-size:22px;
    letter-spacing: 0.44px;
    color:#FFFFFF;
    margin-bottom:9.5px;
 }

 .about-text{
    color:#ECECEC;
    font-family:'Muli';
    letter-spacing: 0.42px;
    font-size:14px;
    margin-top:9.5px;
    text-align: center;
    width:222px;
 }

 /* section four*/

 .review-text{
    max-width:497px;
    width:100%;
    text-align:right;
    margin-right:50px;
    margin-top:45px;
    margin-bottom:47px;
    font-family:'Roboto';
    font-size:15px;
    letter-spacing: 0.45px;
    line-height: 1.6;
    color:#FFFFFF;
 }

 .position{
    color:#E93656;
    font-family:'Roboto';
    font-size:13px;
    letter-spacing: 0.52px;
    padding-bottom:9px;
 }

 .author{
    color:#FFFFFF;
    font-size:28px;
    font-family:'Glacial Indifference';
    font-weight:bold;
    letter-spacing: 0.84px;
 }

 /* section 5 */

 .latest-pro{
    font-family:'Glacial Indifference';
    font-weight:bold;
    font-size:70px;
    color:#2E2E2E;
    text-align: center;
    margin-bottom:50px;
 }

 .nav-li{
    font-family:'Glacial Indifference';
    font-size:20px;
    font-weight:bold;
    color:#FFFFFF;
    padding-top:7px;
    padding-bottom:7px;
    cursor: pointer;
 }
 .nav-li:hover{
    color:#E93656;
 }

 .date{
    font-family:'Muli';
    font-size:11px;
    letter-spacing: 0.33px;
    color:#DDDDDD;
    padding:7px 0;
 }
 .title{
    color:#FFFFFF;
    font-family:'Glacial Indifference';
    font-size:23px;
    font-weight:bold;
    padding-top:7px;
   
 }

 .article-title>p,.rosa>p{
    font-family:'Glacial Indifference';
    font-size:13px;
    color:#2ED279;
    text-align: center;
    font-weight:bold;
 }
 .article>h4{
    font-family:'Glacial Indifference';
    color:#161616;
    font-size:40px;
    font-weight:bold;
    padding-bottom:28px;
}
 .years>p{
    transform: rotate(-90deg);
    color:#E93656;
    font-size:30px;
    letter-spacing: 0.9px;
    font-family:'Glacial Indifference';
    font-weight:bold;
    
}

.company{
    font-family:'Muli';
    color:#888888;
    font-size:14px;
    letter-spacing: 1.12px;
    padding:35px 0;
}

.paragraph-text{
    font-family:'Muli';
    font-size:16px;
    letter-spacing: 0.48px;
    color:#494949;
    line-height: 1.6;
    max-width:569px;
   
  
}
.more{
    font-size:13px;
    color:#444444;
    font-family:'Muli';
    letter-spacing: 0.39px;
    line-height: 1.6;
    padding-top:10px;
    
}

.second-article>h4{
    font-family:'Glacial Indifference';
    color:#161616;
    font-size:40px;
    font-weight:bold;
    padding-bottom:28px;
}
.third-article>h4{
    font-family:'Glacial Indifference';
    color:#161616;
    font-size:40px;
    font-weight:bold;
    padding-bottom:28px;
}

.rosa-card>h6{
    font-family:'Poppins';
    font-weight:bold;
    font-size:16px;
    letter-spacing: 0.32px;
    padding-top:16px;
    padding-bottom:8px;
    color:#161616;
}
.rosa-card>p{    
    font-family:'Roboto-Light';
    font-size:13px;
    color:#626262;
    letter-spacing: 0.39px;
    padding-top:8px;

}




/* form section*/

.form-div>h5{
    font-family: 'Jaapokki';
    font-size:45px;
    color:#FFFFFF;
    text-align: center;
    letter-spacing: 1.35px;
    padding-top:100px;
    padding-bottom:12px;
    
}

.form-div>p{
    font-family: 'Roboto-Light';
    font-size:17px;
    letter-spacing:0.51px;
    text-align: center;
    padding-bottom:23px;
    color:#FAFAFA;
    
}

::placeholder{
    color:#515151;
    font-size:10px;
    font-family:'Poppins-SemiBold';
    letter-spacing: 0.4px;
}

.reg-btn{
    background-color:#DAAF1B00;
     border:solid #E93656 2px;
    color:#E93656;
    padding:16px 46px;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.modal-text{
    color:DarkSeaGreen;
    font-family:'Poppins-ExtraBold';
    font-size:20px;
    letter-spacing:0.75px;
    padding:15px 0;
}

.modal-btn{
    background-color:DarkSeaGreen;
    color:azure;
    padding:10px 22px;
    cursor: pointer;
}
/* footer */

.footer-title>h3{
   font-family:'Poppins-ExtraBold';
   font-size:55px;
   letter-spacing: 1.66px;
   color:#FFFFFF;
   padding-top:22px;
   padding-bottom:22px;
   margin-top:22px;
}
.footer-span{
    color:#E93656;
    font-size:45px;
}

.footer-title>p{
    width:100%;
    color:#A5A5A5;
    font-family: 'Roboto-Regular';
    letter-spacing: 0.09px;
    font-size:17px;
    padding-bottom:35px;  
}
.footer>p{
    color:#A0A8B7;
    font-size:15px;
    font-family:'Muli';
    padding-top:30px;
    padding-bottom:5px;
    text-align: center;
}
em{
    font-style: normal;
    color:#FFFFFF;
    font-size:15px;
    font-family:'Muli';
}