
@media (max-width:1024px){
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
/* section first */

    .head-logo{
        display:none;
    }

    .slide{
        max-width:1024px;
        width:100%;
        display:flex;
    
    }
    .about-image{
        width:100%;
        object-fit: cover;
    }
      .intro{
        top:50%;
      }

     .introduction > h3{
        font-size:24px;
        font-weight:normal;    
    }
    .introduction > h1{
        font-size:40px;
    }
    .introduction >p {
        font-size:16px;
    }
    
    /* section 2 */

    .grid-theme{
        display:flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
     }

     .skills{
        margin-left:0;
        margin-top:0;
    }
     .image-div{
        display:none;
     }
     .bio{
        margin:30px 0;
        align-items: center;
     }

     .contacts-area{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .contacts{
        display:flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .bio > h2{
        font-size:30px;
        margin-right:0;
        margin-bottom:0; 
     }
     .web{
         margin-right:0;
         margin-top:10px;
     }
     .bio-text{  
        margin-right:0;
       max-width:334px;
       width:100%;
       line-height:1.6;
       
     }
     .hire-btn{ 
        margin-right:0;
    }
    
    .outer-box{
        margin-left:10px;
        margin-right:10px;
    }
    
}

