
@media (max-width:1024px){
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
/* section first */

    .head-logo{
        display:none;
    }

    .slide{
        max-width:1024px;
        width:100%;
        display:flex;
    
    }
    .about-image{
        width:100%;
        object-fit: cover;
    }
      .intro{
        top:50%;
      }

     .introduction > h3{
        font-size:24px;
        font-weight:normal;    
    }
    .introduction > h1{
        font-size:40px;
    }
    .introduction >p {
        font-size:16px;
    }
    
    /* section 2 */

    .grid-theme{
        display:flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
     }

     .skills{
        margin-left:0;
        margin-top:0;
    }
     .image-div{
        display:none;
     }
     .bio{
        margin:30px 0;
        align-items: center;
     }

     .contacts-area{
        display:flex; 
        flex-direction: column;
         justify-content:center;
        align-items: center; 
        padding:20px;
    }

    .priv-info{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:20px;
    }
    .contacts{
        display:flex;
        justify-content:space-evenly;
        align-items: center;
       
    }
    .bio > h2{
        font-size:30px;
        margin-right:0;
        margin-bottom:0; 
     }
     .web{
         margin-right:0;
         margin-top:10px;
     }
     .bio-text{  
        margin-right:0;
       max-width:334px;
       width:100%;
       line-height:1.6;
       
     }
     .hire-btn{ 
        margin-right:0;
    }
    
    .outer-box{
        margin-left:10px;
        margin-right:10px;
    }
    
    .background{
        flex-direction: column;
        justify-content:center;
       
    }

    .slide-buttons{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center; 
    }

    .slide-btn-first,.slide-btn-second,.slide-btn-third{
       
        margin:6.5px 5px;
       
    }

    .contacts{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }



.project-section{
    width:100%;
    margin: 50px 0;
}

.main-flex{
    display:flex;
    flex-direction: column;
}
.nav-bar,.nav-ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
 .nav-li{
    font-family:'Glacial Indifference';
    font-size:20px;
    font-weight:bold;
    color:#FFFFFF;
    padding:0 20px;
    cursor: pointer;
    display:flex;
    align-items: center;
 } 

 .side-bar{
    margin:20px 0;

}

.article-section{
    display:none;
}

.div-message{
    max-width:700px;
    width:100%;
   
}

.reg-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.form-back{
    margin-top:20px; 
    background-image: url('../images/map.jpg');
    position:relative;
    height:760px;
 
}


}

@media (max-width:480px){
.web-logo{
    display:none;
}
.person-img{
    display:none;
  }

  .review-text{
    max-width:320px;
    width:100%;
    font-size:13px;  
 }

 .message{
    max-width:300px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center; 
   
}


}




@media (max-width:768px){
    .person-name{
        display:none;
    }
  
    .main-flex{
      
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-bar,.nav-ul{
        display:flex;
        justify-content: center;
        align-items: center;
      
    }
     .nav-li{
        font-family:'Glacial Indifference';
        font-size:16px;
        font-weight:bold;
        color:#FFFFFF;
        cursor: pointer;
        display:flex;
        align-items: center;
        
      
     } 
    
     .side-bar{
        margin:20px 0px;
        padding:60px;
       
    
    }
  
    .message{
        max-width:290px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center; 
       
    }
    .footer-title>p{
        width:60%;
        color:#A5A5A5;
        font-family: 'Roboto-Regular';
        letter-spacing: 0.09px;
        font-size:14px;
        padding-bottom:35px;  
    }
  
}