
@media (max-width:1024px){
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
/* section first */

    .head-logo{
        display:none;
    }

    .slide{
        max-width:1024px;
        width:100%;
        display:flex;
    
    }
    .about-image{
        width:100%;
        object-fit: cover;
    }
      .intro{
        top:50%;
      }

     .introduction > h3{
        font-size:24px;
        font-weight:normal;    
    }
    .introduction > h1{
        font-size:40px;
    }
    .introduction >p {
        font-size:16px;
    }
    
}

